<div>
    <h1 class="main-title">Welcome to brain training app “CalculateIt” </h1>

    <p class="paragraf">This exercise will help you get your most important organ in great shape!</p>
    <p class="paragraf">How it works: You solve 30 math problems in your head every day. The complexity of the examples can be adjusted
        in the menu. Built-in timer keeps track of time.
        You can track your progress in the Last results tab.</p>
    <p class="paragraf">Good luck!</p>

    <div class="buttons-wrap">
        <button class="btn menu-btn" (click)="onMenuBtnClick('game')">Start</button>
        <button class="btn menu-btn" (click)="onMenuBtnClick('select-level')">Select level</button>
        <button class="btn menu-btn" (click)="onMenuBtnClick('last-results')">Last results</button>
    </div>

</div>