:host {
    position: relative;
    min-height: 100%;
    display: block;
}

.bg {
    background-color: #6E30FE;
    background-image: url('/assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrap {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 100px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    transform: translateY(4rem);
    padding: 1rem 2rem 2rem;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 0.5rem;
    border: 1px solid #ffffff;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, .44);
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-content {
    padding: 8px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-content * {
    font-size: .75rem;
}

.year {
    letter-spacing: -0.1rem;
    margin-left: 0.5em;
    display: inline-block;
}

@media (max-width:750px) {
    .container {
        transform: translateY(3rem);
    }
}

@media (max-width:500px) {
    .container {
        transform: translateY(2rem);
        padding: 1rem;
    }

    .footer-content * {
        font-size: .5rem;
    }
}

@media (max-width:440px) {s
    .main-title {
        font-size: 1.75rem;
    }
}