*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #4633BE;
    box-sizing: border-box;
    font-family: 'Sofia', cursive;
}

.gradient {
    background: linear-gradient(96.8deg, #BF59FE -4.48%, #7844FE 54.18%, #4467E6 105.1%);
}

.light-font-color {
    color: #E6E8FC;
}

.light-bgc {
    background-color: rgba(233, 221, 255, .6);
}

.dark-font-color {
    color: #4633BE;
}

.btn {
    border: 1px solid #ffffff;
    border-radius: 0.5em;
    cursor: pointer;
    background: rgba(233, 221, 255, .6);
    transition: .2s;
}

.btn:hover {
    background: linear-gradient(96.8deg, #BF59FE -4.48%, #7844FE 54.18%, #4467E6 105.1%);
    color: #E6E8FC;
}

.main-title {
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.paragraf {
    margin-bottom: 0.5rem;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.relative {
    position: relative;
}